<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.followers.count %></td>
        <td>フォロワー数：<%= user.followings.count %></td>
        <% if user != current_user %>
        <td>
          <% if user.is_followed_by?(current_user) %>
            <%= link_to user_relationships_path(user), method: :delete do %>
             フォロー外す
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user), method: :postdo do %>
            フォローする
            <% end %>
          <% end %>
        <% end %>
        <% if user == current_user %>
          <td></td>
        <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
