<!-- current_userと@userが一致していない場合に`Begin Chat`を表示 -->

<!--% if current_user != @user %>-->
<!--  %= link_to 'Begin Chat', chat_path(@user.id) %>-->
<!--% end %>-->
<h2><%= @user.name %>さんとのチャット</h2>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= chat.message %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>

<!--<div class="errors">-->
<!--  %= render "layouts/errors", obj: @chat %>-->
<!--</div>-->

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>