<!-- current_userと@userが一致していない場合に`Begin Chat`を表示 -->

<!--% if current_user != @user %>-->
<!--  %= link_to 'Begin Chat', chat_path(@user.id) %>-->
<!--% end %>-->

<h2><%= @user.name %>さんとのチャット</h2>

<div class="mt-5">
  <%= form_with model: @chat do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
    <% f.submit %>
  <% end %>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-12">
      <table>
        <thead>
          <tr>
            <td></td>
          </tr>
        </thead>
        <tbody>
        <% @chats.each do |chat| %>
            <tr>
                <td><%= chat.message %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    </div>
    </div>