<table class='table' >
<% if @range == "User" %>
  <h2>Users search for "<%= params[:word] %>"</h2>
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th>Introduction</th>
        <th></th>
      </tr>
    </thead>

    <!--検索対象モデルがUserの時 -->
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
          <td><%= user.name %></td>
          <td><%= user.introduction %></td>
          <td><%= link_to 'Show', user, class: "user_#{user.id}" %></td>
        </tr>
      <% end %>
    </tbody>
<% else %>
  <h2>Books search for "<%= params[:word] %>"</h2>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th>Tag</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag book.user.get_profile_image, size: '50x50' %></td>
          <td><%= link_to book.title, book, class: "book_#{book.id}" %></td>
          <td><%= book.body %></td>

          <td><%= link_to search_book_path(keyword: book.category) do %>
              <%= book.category %>
            <% end %>
        </td>

        <!--部分テンプレートにした箇所(部分的に更新したい箇所)-->
        <td class="favorite_buttons_<%= book.id %>">
          <%= render 'favorites/favorite', book: book %>
        </td>

        <td>コメント数：<%= book.book_comments.count %></td>

        <!--星レビュー機能-->
          <td>
            <div id="rate_star<%= book.id %>"></div>
              <script>
                $('#rate_star<%= book.id %>').empty();
                $('#rate_star<%= book.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: '<%= book.star %>'
                });
              </script>
          </td>

        <td> 閲覧数: <%= book.view_counts.count %></td>
        </tr>
      <% end %>
    </tbody>
<% end %>
</table>
